{% extends 'base.html' %}
{{ title }}
{% block content %}
    {% for post in object_list %}
        <div class="card mb-4">
            <div class="card-header">
                <p class="card-text">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" height="35px"
                         width="35px" alt="{{ post.author.profile.image }}">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                <p class="card-text"> {{ post.content }}</p>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
                <a class="btn btn-info mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% elif page_number > page_obj.number|add:'-2' and page_number < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}